@import 'colors';
@import 'media-queries';

%align-center {
    display: flex;
    align-items: center;
}
.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    // padding: 0.5rem calc((100vw -1200px)/2);
    z-index: 10;
    position: relative;

    &__logo {
        color: white;
        display: block;
        cursor: pointer;
        padding-left: 20px;
        margin: auto;
        text-decoration: none;
        font-size: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 0;
        @extend %align-center;
        align-items : left;

    }

&__bars {
    opacity: 0;

    @include tablet {
        color: white;
        opacity: 1;
        position: absolute;
        top: 22px;
        right: 20px;
        font-size: 2rem;

    }
}

&__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    @include tablet {
        display: none;
    }

    &--links {
        color: white;
        @extend %align-center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;

        &:hover {
            color: $lime;
            transition: all 0.3s ease;
        }
    }
    #button {
        padding: 12px 24px;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: $lime;
        margin-left: 16px;
        color: $light;


        
        &:hover {
            background-color: $orangeRed;
            transition: all 0.3s ease;
        }

        

    }
}
}